.app {
  display: flex;
}

.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  // background-color: lightcoral;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  // background-color: lightyellow;
}

.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.search {
  margin: 5px;
  padding: 5px;

  input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    color: gray;
    box-sizing: border-box;
  }
}